.jumbotron {
    position: relative;
    background: #fff url("img/school.jpg") center center;/*slide.jpg =>you image*/    
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0px;
}

#nav{
  padding-right: 5px;
padding-left: 5px;
text-transform: uppercase;
}


  .jumbotron{
    padding: 15rem 2rem;
    }

    .content{
        position:absolute; 
        bottom:0;
        color: whitesmoke;
    }

.blockquote{
    background-color: whitesmoke;
}

.foot{
  text-align: left;
  background-color: whitesmoke;
  width: 100%;
  height: 200px;
  padding-top: 5%;
}

.navbar-brand {
  font-size: 0.8rem;
}

  @media (min-width: 576px) {

  .jumbotron{
    padding: 15rem 2rem;
    }

    

}


@media (min-width: 400px) {
    html { font-size: 0.5rem; }
    
}
@media (min-width: 992px) {
    html { font-size: 0.75rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}









