.day_of_exam{
    margin-top: 8%;
}

.justify-content-center {
    margin-left: 30%;
    }

    @media (max-width: 700px) {

        .day_of_exam{
          margin-top: 15%;
         }
      
          
      
      }